In [3]:
import mlxtend
import numpy as np
import pandas as pd

In [6]:
data = np.array([
    ['우유','기저귀','쥬스'],
    ['양상추','기저귀','맥주'],
    ['우유','양상추','기저귀','쥬스'],
    ['양상추','맥주'],
])
data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """

array([list(['우유', '기저귀', '쥬스']), list(['양상추', '기저귀', '맥주']),
       list(['우유', '양상추', '기저귀', '쥬스']), list(['양상추', '맥주'])],
      dtype=object)

# Apriori 알고리즘
1. k개의 item을 가지고 단일항목집단 생성 (one-item frequent set)
2. 단일항목집단에서 최소 지지도(support) 이상의 항목만 선택
3. 2에서 선택된 항목만을 대상으로 2개항목집단 생성
4. 2개항목집단에서 최소 지지도 혹은 신뢰도 이상의 항목만 선택
5. 위의 과정을 k개의 k-item frequent set을 생성할 때까지 반복

In [8]:
# 컬럼 순서 확인
te.columns_

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [7]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True, False,  True,  True,  True],
       [False,  True,  True, False, False]])

In [10]:
# array를 dataframe으로 변환
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True  False   True   True   True
3  False   True   True  False  False

In [14]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df,min_support=0.5,use_colnames=True)

Wall time: 5.98 ms

    support       itemsets
0      0.75          (기저귀)
1      0.50           (맥주)
2      0.75          (양상추)
3      0.50           (우유)
4      0.50           (쥬스)
5      0.50     (기저귀, 양상추)
6      0.50      (기저귀, 우유)
7      0.50      (쥬스, 기저귀)
8      0.50      (양상추, 맥주)
9      0.50       (쥬스, 우유)
10     0.50  (쥬스, 기저귀, 우유)

# FP-Growh 알고리즘

In [12]:
%%time
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df,min_support=0.5, use_colnames=True)

Wall time: 2.99 ms

    support       itemsets
0      0.75          (기저귀)
1      0.50           (쥬스)
2      0.50           (우유)
3      0.75          (양상추)
4      0.50           (맥주)
5      0.50     (기저귀, 양상추)
6      0.50      (쥬스, 기저귀)
7      0.50       (쥬스, 우유)
8      0.50      (기저귀, 우유)
9      0.50  (쥬스, 기저귀, 우유)
10     0.50      (양상추, 맥주)